
{% extends "base/base.html" %}

{% block content %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url('static/assets/new-post.jpg')">
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading">
                      <h1 class="main-title">Create New Post</h1>
                      <span class="subheading">The audience is holding their breath...</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
          <!-- This is where the form will go -->
          <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-box">{{ form.title.label(class_='form-label') }}{{ form.title() }}</div>
            <div class="form-box">{{ form.subtitle.label(class_='form-label') }}<br>{{ form.subtitle(size=50) }}</div>
            <div class="form-box">{{ form.body.label(class_='form-label') }}<br>{{ form.body() }}</div>
            <div class="form-box">{{ form.photo.label(class_='form-label') }}<br>{{ form.photo() }}</div>

            {{ form.submit(class_='form-submit') }}
        </form>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

         {{ ckeditor.load() }}
         {{ ckeditor.config(name='body') }}
         </body>
      </div>
    </div>
  </div>

{% endblock %}