{% extends "base/base.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/about.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h3>Al Dwyer</h3>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3 style="color:;">About Al Dwyer</h3>
                        <p>Just like Lou Gehrig, sometimes I consider myself the “luckiest man on earth”.  I love to travel, mostly to places off the beaten track, and don’t mind sharing an opinion.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
